@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	box-sizing: border-box;
}


.wrapper-navbar{
	height: 100vh;
}

html { 
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Bakground.png); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color:#fff;
	color: #000;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.navbar{
	max-width: 1200px;
	margin: auto;
	font-size: 13px;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.sub-menu{
	display: none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.navbar ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.navbar ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.navbar ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.navbar ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}

/* Introduktion till avanza*/
.Avanza_intro{
	width: 70%;
	display: flex;
	align-items: center;
}

.yt{
	max-width: 50%;
	float: left;
	height: 53vh;
}

.Avanza_intro_img{
	color: white;
	margin-left: 4vw;
	background-color: #3b133f63;
}

.Avanza_intro_img_2{
	color: white;
	margin-right: 4vw;
	background-color: #081b5b3d;
}



.Avanza_intro_img p{
	font-size: 16px;
	margin-left: 1vw;
	width: 44vw;
	padding: 5vh 3vw;
}

.Avanza_intro_img_2 p{
	font-size: 16px;
	width: 44vw;
	padding: 5vh 3vw;
}
.Avanza{
	margin: 5vh 0;
	width: 70%;
	display: flex;
	align-items: center;
}

.video-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Avanza_intro_img h2, .Avanza_intro_img_2 h2{
	text-align: center;
	font-size: 42px;
}

.havstong{
	margin-right: 25vw;
}

/*användarvillkor*/
.wrapper{
	position: absolute;
	bottom: 30px;
	left: 30px;
	max-width: 365px;
	background: #fff;
	padding: 25px 25px 30px 25px;
	border-radius: 15px;
	box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
	text-align: center;
  }

  .wrapper.hide{
	opacity: 0;
	pointer-events: none;
	transform: scale(0.8);
	transition: all 0.3s ease;
  	}

  ::selection{
	color: #fff;
	background: #FCBA7F;
  }
  .wrapper img{
	max-width: 90px;
  }
  .content header{
	font-size: 25px;
	font-weight: 600;
  }
  .content{
	margin-top: 10px;
  }
  .content p{
	color: #858585;
	margin: 5px 0 20px 0;
  }
  .content .buttons{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .buttons button{
	padding: 10px 20px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	background: #FCBA7F;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  .buttons button:hover{
	transform: scale(0.97);
  }
  .buttons .item{
	margin: 0 10px;
  }
  .buttons a{
	color: #FCBA7F;
  }

/*slut användarvillkoren*/

/*Error.html*/
.style{
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 14vh;
    margin-bottom: 49vh;
    overflow-y: hidden;
}

.style p{
	margin: 10px 0
}

.style img{
	border: #ffffff 1px solid;
}
/*slut Error.html*/

/*Analys.html*/
.text{
	color: white;
    text-align: center;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8vh;
    position: absolute;
}

.text h2{
	margin-bottom: 5vh;
	font-size: 22px;
}

.text p{
	width: 50%;
	margin-bottom: 5vh;

}

.analys-btn {
	background-color: #1b0d92;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 5vh;
  }

/*Slut Analys.html*/



@media (max-width: 828px) {


	.Avanza_intro, .Avanza{
		display: flex;
		flex-direction: column;
		width: 83%;
	}

	.Avanza{
		flex-direction: column-reverse;
	}

	.Avanza_intro_img, .Avanza_intro_img_2{
		margin-left: 0;
	}

	.Avanza_intro_img p,.Avanza_intro_img_2 p {
		width: 100%;
	}
	
	.Avanza_intro_img_2 p{
		padding: 5vh;
	}

	.logo{
		display: none;
	}
	header{
		height: 10vh;
	}

	.yt{
		max-width: 100%;
		height: 36vh;
		margin-bottom: 24px
	}

	ul{
		text-align: center;
		float: none;
		margin-right: 0;

	}

	.button{
		margin-top: 5vh;
		gap: 1vh;
		top: 51%;
		display: flex;
		flex-direction: column;
	}

	.havstong{
		margin-right: 0;
	}

}